/* jogo da memoria  */

/* pagina -- EscolherJogo */

/* 
Amarelo - #F1E49D
Amarelo escuro (borda) -> #FFDE59
Azul claro -> #D1F4F6
Azul (fonte) -> #67A3E2 
*/


/* ---------------- BANNER JOGO DA MEMÓRIA ----------------  */

.banner-memoria {
    margin: 0 auto;
    padding: 0;
    width: 60vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;

    gap: 10%;

}

.titulo-memoria img{
    width: 100%;
    height: auto;
}

.jogo-memoria img {
    width: 100%;
    height: auto;
}

.memoria-inicio h1{
    padding: 4rem 0 3rem 0;
    font-size: 2.5rem;
}

.info {
    display: inline-block;
    margin: 0.4rem 0;
    
    font-size: 1.1rem;
    font-weight: 700;
}

.imgInfo {
    width: 25px;
}


/* ------------------ CADS COM OS TEMAS ------------------ */

.temas{
    margin: 0 auto ; 
    align-items: center;
    width: 66%;
}
.memoriaEscolherDivBtn {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

.memoriaBtnP {
    padding: 10% 0 0 0;
    font-size: 1.5rem;
    color:  #67A3E2;
    text-transform: uppercase;
}

.memoriaEscolherBtn {
    background: #D1F4F6;
    border: none;
    margin: 10px 0;
    padding: 6px 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;

    width: 32%;
    min-width: 250px;

    height: 20vw;
    min-height: 250px;

    box-shadow: 0.15rem 0.15rem 0.5em rgba(0, 0, 0, 0.299) ;
    
    &:hover{
        background-color: #F1E49D;
        border: 10px solid #FFDE59;
        color: #c83989;
    }
}

.memoriaEscolherBtnImg{
    width: 50%;
    height: 50%;
    border-radius: 1rem;
}
