@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  text-decoration: none;
  /* border: 1px solid red; */
}

body {

  display: flex;
  flex-direction: column;
  width: 100vw;
  background: linear-gradient(#fff 4% , #2f8fbb 20%) no-repeat;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff; 
  min-height: 100vh;
  overflow-x: hidden !important;
}

@media (max-width:600px){
  
}


