.test {
  flex-grow: 0 !important;
}

.dropdown-menu{
  --bs-dropdown-padding-x: none !important;
  background: none !important;
  border: none !important;
}

.navbar .container{
  padding: 0 50px;
}

.menuItens {
  position: relative;
  font-weight: bold;
  transition: 0.5s;
  padding: 5px 1px;
  background: #67A3E2;
  z-index: 1;
}

.menuItens:hover {
  background-color: #0EC0DF;
  transform: translateY(15px);
  transition: 0.5s;
}

.menuItens::before {
  content: '';
  position: absolute;
  left: 100%;
  width: 10px;
  height: 100%;
  background: #5a8fc7;
  transform: skewY(60deg);
  transform-origin: right;
  transition: 0.5s;
  bottom: -16px;
}

.menuItens:hover::before {
  background: #1cbcd8;
  transition: 0.5s;
}

.menuItens::after {
  content: '';
  position: absolute;
  width: 100%;
  background: #4f85be;
  transform-origin: bottom;
  transform: 0.5s;
  bottom: -15px;
  left: 8px;
  height: 15px;
  transform: skewX(27deg);
}

.menuItens:hover:after {
  background: #1aafc9;
  transition: 0.5s;
}

.menuItens2 a {
  padding: 5px 25%;
}

.dropdown-toggle {
  height: 100%;
}

.menuJogos span{
  width: 100%;
  padding: 5px 8px;
}
.menuItens2 .menuJogosQuiz {
  padding: 5px 35%;
}

.menuItens2:hover {
  transform: translatex(15px);
}

.menuLink {  
  padding: 10px 14px;
  position: sticky;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.imgMenu {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 990px) {
  .menuLink {  
    padding: 10px 40%;
  }

  .menuItens:hover {
    transform: translateX(15px);
  }

  .menuItens2 .menuJogosQuiz {
    padding: 5px 42%;
  }

  .menuItens2 .menuJogosMemoria {
    padding: 5px 38%;
  }

  .menuJogos span{
    padding: 10px 10%;
    margin-right: -90px;
  }
}