$azul_claro: #D1F4F6;
$azul_claro_subtom: #A5E2E6;
$azul_intermediario:  #67A3E2;

$amarela_claro: #F1E49D;
$amarela_escuro: #FFDE59;

$verde_claro: #DDFFB1;
$verde_escuro: #6AB035;

$rosa_claro: #F6CEE7 ;
$rosa_intermediario: #E47CA2;

$vermelho_erro: #ffc9c992;
$verde_certo: #ddffb191;

$coral_presente: #FE7C78;
$amarelo_presente: #FED54E;

$branco: #fff;
$sombra: rgba(0, 0, 0, 0.299);