.popupInfo {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8rem 1.2rem;
  min-width: 550px;
  max-width: 750px;
  background-color: #D1F4F6;
  width: 55%;
  height: auto;
  border: 0.7rem solid #A5E2E6;
  border-radius: 0.6rem;
  transform: translate(-50%, -50%) scale(0.9);
  pointer-events: none;
  transition: 0.3s ease;
  opacity: 0;
}
.popupInfo h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: none;
  color: #67A3E2;
  text-align: center;
  margin: 1rem auto;
}
.popupInfo .info {
  display: inline-block;
  margin: 0.4rem 0;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: none;
  color: #67A3E2;
}
.popupInfo .info img {
  width: 25px;
  height: auto;
}
.popupInfo hr {
  color: #67A3E2;
  margin: 1rem 0;
}
.popupInfo .btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
}
.popupInfo .btn-group .info-btn {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  width: 9rem;
  height: 2.8rem;
  letter-spacing: 1px;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}
.popupInfo .btn-group .info-btn:nth-child(1) {
  background-color: transparent;
  color: #E47CA2;
  border: 0.2rem solid #E47CA2;
  border-radius: 1.5rem;
  box-shadow: 0 0 4px #E47CA2;
}
.popupInfo .btn-group .info-btn:nth-child(1):hover {
  background-color: #E47CA2;
  color: #fff;
}
.popupInfo .btn-group .info-btn:nth-child(2) {
  background-color: transparent;
  border: 0.2rem solid #6AB035;
  border-radius: 1.5rem;
  box-shadow: 0 0 4px #6AB035;
}
.popupInfo .btn-group .info-btn:nth-child(2) a {
  text-decoration: none;
  color: #6AB035;
  text-align: center;
  width: 100%;
  height: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.popupInfo .btn-group .info-btn:nth-child(2) .iniciaQuiz {
  color: #6AB035;
  padding: 0;
}
.popupInfo .btn-group .info-btn:nth-child(2):hover {
  background-color: #6AB035;
}
.popupInfo .btn-group .info-btn:nth-child(2):hover .iniciaQuiz {
  color: #fff;
}

.popupInfo.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.activeBlur {
  filter: blur(20px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media (max-width: 768px) {
  .popupInfo {
    width: 90%;
    height: auto;
    margin-top: 40%;
    padding: 0.5rem 0.8rem;
    min-width: 290px;
  }
  .popupInfo h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: none;
  }
  .popupInfo .info {
    font-size: 1rem;
    font-weight: 700;
    text-transform: none;
  }
  .popupInfo .btn-group {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .popupInfo {
    margin-top: 50%;
    min-width: 290px;
  }
}/*# sourceMappingURL=popUp.css.map */