@use '../mixinsQuiz';
@use '../variaveis';

.popupInfo {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.8rem 1.2rem;
    min-width: 550px;
    max-width: 750px;

    background-color: variaveis.$azul_claro;
    @include mixinsQuiz.div-size(55%, auto);
    @include mixinsQuiz.borda(0.7rem, solid, variaveis.$azul_claro_subtom, 0.6rem);

    transform: translate(-50%, -50%) scale(.9);
    pointer-events: none;
    transition: .3s ease;
    opacity: 0;

    // TÍTULO
    h2 {
        @include mixinsQuiz.fonte-config(2.5rem, 700);
        color: variaveis.$azul_intermediario;
        text-align: center;
        margin: 1rem auto;
    }

    // INFO
    .info {
        display: inline-block;
        margin: 0.4rem 0;

        @include mixinsQuiz.fonte-config(1.1rem, 700);
        color:  variaveis.$azul_intermediario;

        // MOEDAS
        img {
            @include mixinsQuiz.div-size(25px, auto);
        }
    }

    // LINHA
    hr {
        color: variaveis.$azul_intermediario;
        margin: 1rem 0;
    }

    // BOTÕES
    .btn-group {
        @include mixinsQuiz.flex-config(row, space-between, center, wrap);
        margin: 1rem auto;
        width: 100%;

        .info-btn {
            // display: inline-flex;
            @include mixinsQuiz.fonte-config(1rem, bold, uppercase);

            @include mixinsQuiz.flex-config(row, center, center);

            @include mixinsQuiz.div-size(9rem, 2.8rem);

            letter-spacing: 1px;
            outline: none;
            transition: .5s;
            cursor: pointer;

            // BOTÃO SAIR
            &:nth-child(1) {
                background-color: transparent;
                color: variaveis.$rosa_intermediario;
                
                @include mixinsQuiz.borda(0.2rem, solid, variaveis.$rosa_intermediario, 1.5rem);
                @include mixinsQuiz.sombra(0, 0, 4px, variaveis.$rosa_intermediario);
              
                &:hover {
                  background-color: variaveis.$rosa_intermediario;
                  color: #fff;
                }
            }

            // BOTÃO CONTINUAR  
            &:nth-child(2) {
                background-color: transparent;
                
                @include mixinsQuiz.borda(0.2rem, solid,variaveis.$verde_escuro, 1.5rem);
                @include mixinsQuiz.sombra(0, 0, 4px, variaveis.$verde_escuro);
            
                a {
                    text-decoration: none;
                    color: variaveis.$verde_escuro;
                    text-align: center;
                    
                    @include mixinsQuiz.div-size(100%, 1.4rem);
                    @include mixinsQuiz.flex-config(row, center, center);

                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                }

                .iniciaQuiz {
                    color: variaveis.$verde_escuro;
                    padding:  0;
                }
              
                &:hover {
                    background-color: variaveis.$verde_escuro;
                    
                    .iniciaQuiz {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.popupInfo.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

.activeBlur{

    filter: blur(20px);
    pointer-events: none;
    user-select: none;

}

@media (max-width: 768px) {
    .popupInfo {
        @include mixinsQuiz.div-size(90%, auto);
        margin-top: 40%;
        padding: 0.5rem 0.8rem;
        min-width: 290px;

        h2 {
            @include mixinsQuiz.fonte-config(2rem, 700);
        }

        .info {
            @include mixinsQuiz.fonte-config(1rem, 700);
        }

        .btn-group {
            width: 80%;
            @include mixinsQuiz.flex-config(column-reverse, space-between, center, wrap);
        }
    }
}

@media (max-width: 500px) {
    .popupInfo {
        margin-top: 50%;
        min-width: 290px;
    }
}