@charset "UTF-8";
.wrapper {
  background: url("../../img/bg_brilho.gif") no-repeat;
  background-size: cover;
}

/* PAINEL DE QUESTÕES E NOTA */
.cabecalho-quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
.cabecalho-quiz h2 {
  font-size: 2em;
  font-weight: 900;
  text-transform: none;
  margin-bottom: 0;
}
.cabecalho-quiz .question-count {
  background: url(../../img/arco-ires.gif);
  background-size: cover;
  padding: 50px 50px 0px;
  text-align: center;
  color: #c40094;
}
.cabecalho-quiz .question-count .question-number {
  font-size: 3em;
  font-weight: bold;
  text-transform: none;
}
.cabecalho-quiz .score-container {
  background-size: cover;
  width: 12%;
  text-align: center;
  color: yellow;
}
.cabecalho-quiz .score-container .score {
  font-size: 3em;
  font-weight: bold;
  text-transform: none;
}
.cabecalho-quiz .description {
  font-size: 0.5em;
  font-weight: 900;
  text-transform: none;
}

/* QUESTÕES DO QUIZ*/
.questions {
  width: 60%;
  margin: 35px auto 0;
  padding: 2%;
  background: url("../../img/bg-quiz.png") no-repeat;
  background-size: cover;
  color: #67A3E2;
  border: 10px solid #fff;
  border-radius: 15px;
}
.questions .question {
  font-size: 2em;
}
.questions .question-answers {
  margin-top: 0.75em;
  padding-left: 1.2em;
}
.questions .question-answer {
  list-style-type: lower-alpha;
  cursor: pointer;
  padding: 0.3em;
  margin-bottom: 0.3em;
  border: 3px solid transparent;
}
.questions .question-answer:hover {
  font-weight: bold;
}
.questions .answer {
  font-size: 1em;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.questions .question {
  display: none;
  animation: slide-in 0.4s ease;
}
.questions .question:first-child {
  display: block;
}

.wrong {
  background: rgba(255, 201, 201, 0.5725490196);
  color: red;
  border-radius: 20px;
  animation: shake 0.5s cubic-bezier(0.35, 0.05, 0.2, 0.99) both;
}

.right {
  background: rgba(221, 255, 177, 0.568627451);
  color: green;
  border-radius: 20px;
}

/* POPUP COM OS PONTOS */
.correct-modal {
  font-size: 5em;
  text-align: center;
  width: 100%;
  background: rgb(38, 147, 211);
  padding: 5%;
  will-change: transform;
  transform: scale(4);
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  height: 200px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  display: none;
}

.correct-modal.modal-enter {
  display: flex;
  animation: modal-enter 2s ease-in both;
  overflow-y: hidden;
}

.praise, .points {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

@keyframes modal-enter {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    display: none;
    transform: scale(1);
  }
}
/* POPUP COM O RESULTADO GERAL DO QUIZ*/
.results-container {
  min-width: 300px;
  background: #fff;
  color: #FE7C78;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  width: 25%;
  height: auto;
  border: 12px solid #FED54E;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  margin: 10% auto;
  padding: 1%;
  animation: slide-in 0.4s ease;
  gap: 0.3rem;
}
.results-container h2 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 5%;
}
.results-container h2 img {
  margin-top: -20px;
  width: 20%;
}
.results-container .results {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: none;
}
.results-container .results .results-total {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: none;
  align-items: center;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 100%;
  gap: 15px;
  position: relative;
  padding: 0.4rem 1rem;
  transition: background 0.2s;
  color: #fff;
}
.btn-group .info-btn {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  width: 9rem;
  height: 2.8rem;
  color: #FE7C78;
  letter-spacing: 1px;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #FE7C78;
  border-radius: 1.6rem;
  box-shadow: 0 0 4px #FE7C78;
}
.btn-group .info-btn .formLink {
  color: #FE7C78;
  width: 100%;
}
.btn-group .info-btn:hover {
  background-color: #FE7C78;
  color: #FED54E;
}
.btn-group .info-btn:hover .formLink {
  color: #FED54E;
}
.btn-group .info-btn.active {
  background: rgba(255, 255, 255, 0.5);
  top: -2px;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(1px);
  }
  30%, 50%, 70% {
    transform: translateX(-2px);
  }
  45%, 55% {
    transform: translateX(2px);
  }
}
@media screen and (max-width: 1250px) {
  body {
    font-size: 14px;
  }
  .results-container h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 1rem;
  }
  header {
    padding: 50px 0 30px;
  }
  .questions {
    width: 75%;
  }
  .question-answer:hover {
    border-color: rgba(0, 0, 0, 0.5);
  }
  .question-answer:focus {
    outline: gray solid 1px;
  }
  .correct-modal {
    height: 300px;
  }
}/*# sourceMappingURL=quizPerguntas.css.map */