@use '../mixinsQuiz';
@use '../variaveis';

  .wrapper {
    background: url('../../img/bg_brilho.gif') no-repeat;
    background-size: cover;
  }
  
  /* PAINEL DE QUESTÕES E NOTA */

  .cabecalho-quiz {

    @include mixinsQuiz.flex-config(column, space-between, center);
    
    h2 {
      @include mixinsQuiz.fonte-config(2em, 900);
      margin-bottom: 0;
    }

    .question-count {
      background: url(../../img/arco-ires.gif);
      background-size: cover;
      padding: 50px 50px 0px;
      text-align: center;
      color: #c40094;

      .question-number {
        @include mixinsQuiz.fonte-config(3em, bold);
      }
    }
      
    .score-container {
      background-size: cover;
      width: 12%;
      text-align: center;
      color: yellow;

      .score {
        @include mixinsQuiz.fonte-config(3em, bold);
      }
    }

    .description {
      @include mixinsQuiz.fonte-config(0.5em, 900);
    }
  }

  /* QUESTÕES DO QUIZ*/
  
  .questions {
    width: 60%;
    margin: 35px auto 0;
    padding: 2%;
    background: url('../../img/bg-quiz.png') no-repeat;
    background-size: cover;
    color: variaveis.$azul_intermediario;
    @include mixinsQuiz.borda(10px, solid, variaveis.$branco, 15px);

    .question {
      font-size: 2em;
    }

    .question-answers {
      margin-top: .75em;
      padding-left: 1.2em;
    }
    
    .question-answer {
      list-style-type: lower-alpha;
      cursor: pointer;
      padding: .3em;
      margin-bottom: .3em;
      border: 3px solid transparent;
  
      &:hover{
        font-weight: bold;
      }
    }

    .answer {
      font-size: 1em;
    }
    
    @keyframes slide-in {
      0%   { opacity: 0; transform: translate3d(40%, 0, 0); }
      100% { opacity: 1; transform: none; }
    }
    
    .question {
      display: none;
      animation: slide-in .4s ease;
    }
    
    .question:first-child {
      display: block;
    }

  }

  .wrong {
    background: variaveis.$vermelho_erro;
    color: red;
    border-radius: 20px;
    animation: shake 0.5s cubic-bezier(.35,.05,.20,.99) both;
  }
  
  .right {
    background: variaveis.$verde_certo;
    color: green;
    border-radius: 20px;
  }
  

  /* POPUP COM OS PONTOS */
  .correct-modal {
  
    font-size: 5em;
    text-align: center;
    width: 100%;
    background: rgb(38, 147, 211);
    padding: 5%;
    will-change: transform;
    transform: scale(4);
    z-index: 2;
    opacity: 1;
    @include mixinsQuiz.flex-config(column, center, center);
    height: 200px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    display: none;
  }
  
  .correct-modal.modal-enter {
    display: flex;
    animation: modal-enter 2s ease-in both;
    overflow-y: hidden;
  }
  
  .praise, .points {
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }
  
  @keyframes modal-enter {
    0% {
      visibility: visible;
      opacity: 1;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    85% {
      opacity: 1;
      transform: scale(1);
    }
    99% {
      opacity: .5;
      transform: scale(1);
    }
    100% {
      display: none;
      transform: scale(1);
    }
  }


/* POPUP COM O RESULTADO GERAL DO QUIZ*/

   .results-container {

    min-width: 300px;
    background: variaveis.$branco;
    color: variaveis.$coral_presente;
    @include mixinsQuiz.flex-config(column, center, center);
    @include mixinsQuiz.div-size(25%, auto);
    @include mixinsQuiz.borda(12px, solid, variaveis.$amarelo_presente, 20px);
    @include mixinsQuiz.fonte-config(1rem, 600);

    margin: 10% auto;
    padding: 1%;
    animation: slide-in .4s ease;
    gap: .3rem;
   

    h2 {
      @include mixinsQuiz.fonte-config(4rem, 600, uppercase);
      @include mixinsQuiz.flex-config(row, center, center, wrap);
      margin-top: 3%;
      margin-bottom: 5%;

      img {
        margin-top: -20px;
        width: 20%;
      }
    }

    .results {
      width: 100%;
      @include mixinsQuiz.fonte-config(1.4rem, 500);

      .results-total {
        margin-top: 1rem;
        @include mixinsQuiz.fonte-config(1.8rem, bold);
        align-items: center;

      }
    }
  }
  
  // BOTÕES


  .btn-group {
      @include mixinsQuiz.flex-config(row, center, center, wrap);
      margin: 1rem auto;
      width: 100%;
      gap:15px;
      position: relative;
      padding: .4rem 1rem;
      

      transition: background .2s;
      color: variaveis.$branco;

      .info-btn {
          // display: inline-flex;
          @include mixinsQuiz.fonte-config(1.4em, bold, uppercase);
          @include mixinsQuiz.flex-config(row, center, center);
          @include mixinsQuiz.div-size(9rem, 2.8rem);
          color: variaveis.$coral_presente;
          letter-spacing: 1px;
          outline: none;
          transition: .5s;
          cursor: pointer;

          background-color: transparent;

          .formLink {
            color: variaveis.$coral_presente;
            width:100%;
          }
          
          @include mixinsQuiz.borda(3px, solid, variaveis.$coral_presente, 1.6rem);
          @include mixinsQuiz.sombra(0, 0, 4px, variaveis.$coral_presente);
        
          &:hover {
            background-color:  variaveis.$coral_presente;
            color: variaveis.$amarelo_presente;

            .formLink {
              color: variaveis.$amarelo_presente;
            }
          }

          &.active {
            background: rgba(255,255,255,.5);
            top: -2px;
          }

      }
    }

  @keyframes shake {
    10%, 90% {
      transform: translateX(-1px);
    }
    20%, 80% {
      transform: translateX(1px);
    }
    30%, 50%, 70% {
      transform: translateX(-2px);
    }
    45%, 55% {
      transform: translateX(2px);
    }
  }

  
  @media screen and (max-width:1250px){
    body {
      font-size: 14px;
    }

    .results-container h2 {
      font-size: 2rem;
    }
  
    h1 {
      font-size: 1rem;
    }
  
    header {
      padding: 50px 0 30px;
    }
  
    .questions {
      width: 75%;
    }
  
    .question-answer:hover {
      border-color: rgba(0,0,0,.5);
    }
  
    .question-answer:focus {
      outline: gray solid 1px;
    }
  
    .correct-modal {
      height: 300px;
    }
  }
  
  