.footer {
    padding: 2rem 0;
    width: 100%;
    background-color: #4f8be622;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FooterUlIcone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.footerUlTexto {
    @media screen and (max-width: 800px){
        flex-direction: column;
    }
}

.footerLiTexto {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
        content: "•";
        margin: 0 0.3rem ;
        color: #fff;
    };

    @media screen and (max-width: 800px){
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        &:not(:last-child)::after {
            content: "";
        };
    }
}

.footerAIcones {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    
    &:hover {
      transform: translateY(-10px);
    } 
}

.footerATexto {
    font-size: 1.5rem;
    display: flex;
    transition: 0.4s;
    
    &:hover {
        color: #000 ;
    }
}
